<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7oSZI9C9wCwT5Ah6pFEIAVzerMGr1QB0</string>
	<key>GCM_SENDER_ID</key>
	<string>31062552677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ecommerce.app</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-a8483</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-a8483.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31062552677:ios:ff960441da80b58582968c</string>
</dict>
</plist>